#qr-preview {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.qr-box {
  position: relative;
  margin: 10px;
  text-align: center;
}

.App {
  position: absolute;
  width: 100%;
  height: 100%;
}

.meal-thumb {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.meal-box {
  display: grid;
  grid-template-columns: 150px auto;
}

.meal-box>* {
  vertical-align: top;
  margin: 10px;
}

.meal-info {
  display: grid;
  grid-template-columns: auto;
}

.meal-info>* {
  display: inline;
  vertical-align: top;
  align-self: start;
  margin: 0;
}

.meal-info>i>p  {
  margin: 0;
}

.meal-desc {
  grid-row: 2;
}
.price-tag {
  justify-self: end;
  grid-row: 2;
}

.ingredients {
  font-size: 10pt;
  grid-row: 3;
}

.order-input {
  grid-row: 4;
}

.order-input-quantity {
  font-size: 10pt;
  display: inline;
  margin-left:10px;
}

.breakdown-row {
  display: grid;
  grid-template-columns: 100px 20px;
}

.breakdown-row>p{
  margin: 5px;
}

.breakdown-name {
  grid-column: 1;
}

.order-summary {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(216, 216, 216);
  padding: 10px;
}

.title {
  text-align: center;
}